<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eMunching_LoyaltyEntities1"
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ydqrvhh6nm.database.windows.net;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=anandvv;Password=9lq7q50X;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
    <add name="eMunching_LoyaltyEntities"
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string='Data Source=ydqrvhh6nm.database.windows.net;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=anandvv;Password=9lq7q50X;MultipleActiveResultSets=True;App=EntityFramework'"
     providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>