<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eMunching_LoyaltyEntities"
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string='Data Source=ijgz12f2wq.database.windows.net;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=anandvv;Password=t8pD6FXb;MultipleActiveResultSets=True;Application Name=EntityFramework'"
     providerName="System.Data.EntityClient" />
    <!--<add name="eMunching_LoyaltyEntities"
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string='Data Source=ijgz12f2wq.database.windows.net;Initial Catalog=eMunching_Loyalty_Development;Persist Security Info=True;User ID=anandvv;Password=t8pD6FXb;MultipleActiveResultSets=True;Application Name=EntityFramework'"
     providerName="System.Data.EntityClient" />-->
    <!--<add name="eMunching_LoyaltyEntities"
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string='Data Source=localhost\SQLExpress;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=MenuTrix;Password=..menutrix01;MultipleActiveResultSets=True;Application Name=EntityFramework'"
     providerName="System.Data.EntityClient" />-->
    <!--
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string='Data Source=xn6qbrl6gf.database.windows.net;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=anandvv;Password=9lq7q50X;MultipleActiveResultSets=True;Application Name=EntityFramework'"
     -->   
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eMunchingWebServicesSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="eMunchingWebServicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.emunching.com/emunchingservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="eMunchingWebServicesSoap"
        contract="eMunchingServices.eMunchingWebServicesSoap" name="eMunchingWebServicesSoap" />
      <endpoint address="http://www.emunching.com/emunchingservices.asmx"
        binding="customBinding" bindingConfiguration="eMunchingWebServicesSoap12"
        contract="eMunchingServices.eMunchingWebServicesSoap" name="eMunchingWebServicesSoap12" />
    </client>
  </system.serviceModel>
</configuration>