<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="eMunching_LoyaltyEntities"
     connectionString="metadata=res://*/eMunching_Loyalty.csdl|res://*/eMunching_Loyalty.ssdl|res://*/eMunching_Loyalty.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=MenuTrix;Password=..menutrix;MultipleActiveResultSets=True;Application Name=EntityFramework'"
     providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=eMunching_Loyalty;Persist Security Info=True;User ID=MenuTrix;Password=..menutrix01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">

      <param name="File" value="D:\websites\Logs\ToitPayloadProcessor\payload.log" />
      <!--<param name="File" value="F:\apps\eMunching\eMunching-Payload-Processor\Payload\logs\payload.log" />-->
      <!--<param name="AppendToFile" value="true"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>


    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>
</configuration>