@{
    ViewBag.Title = "Loyalty Administration";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<h3>@ViewData["Status"]</h3>
<p>
@ViewData["Message"]
</p>

